# Ignore Python bytecode files
*.pyc
__pycache__/    

# Ignore environment variables files
.env
.env.production
venv/

# Django stuff:
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
/staticfiles/
node_modules/
frontend/node_modules/
# VSCode settings
.vscode/

# Ignnore migration files
*/migrations/

cdk.out/